body {
    font-family: Arial, sans-serif;
    background-image: url('m (2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

#movie-results {
    margin-top: 20px;
}

.movie {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
}

.movie img {
    width: 100%;
    border-radius: 10px;
}

.movie h2 {
    font-size: 18px;
    margin: 10px 0;
}

.movie p {
    font-size: 14px;
    color: #666;
}
.suggestion {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.suggestion:hover {
    background-color: #f0f0f0;
}